<div class="container my-4">

  <!-- Header -->
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4">
    <div class="mb-3 mb-md-0">
      <h3 class="mb-0"><i class="fa-solid fa-vial"></i> Laboratory Results</h3>
      <small class="text-muted">View and manage patient test results and lab reports</small>
    </div>

      <% if current_user.doctor? %>
        <%= link_to new_laboratory_result_path, class: 'btn btn-primary btn-sm mb-2 rounded-3', data: { bs_toggle: 'modal', bs_target: "#treatmentModal" }  do %>
          <i class="fa-solid fa-plus me-2"></i> Order New Test
        <% end %>
      <% end %>

      <!-- Modal -->
      <div class="modal fade" id="treatmentModal" tabindex="-1" aria-labelledby="treatmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="treatmentModalLabel"><i class="fa-solid fa-vial me-1"></i> Add Test Result
                <br>
                <p class="text-muted fs-6">Record a new test result for a patient.</p>
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render 'laboratory_results/form', result: @result %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Summary Cards -->
  <div class="row g-3 mb-4">
    <div class="col-md-3">
      <div class="card-summary text-start border-0 shadow-sm p-3 rounded-4" style="background:#eaf3ff;">
        <div class="d-flex justify-content-between">
          <div>
            <small>Total Tests</small>
            <h4 class="fw-bold mt-2"><%= @total_tests %></h4>
            <small class="text-primary">All test orders</small>
          </div>
          <i class="fa-solid fa-bolt text-primary"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-summary text-start border-0 shadow-sm p-3 rounded-4" style="background:#eafbf1;">
        <div class="d-flex justify-content-between">
          <div>
            <small>Completed</small>
            <h4 class="fw-bold mt-2"><%= @completed %></h4>
            <small class="text-success">Results available</small>
          </div>
          <i class="fa-solid fa-circle-check text-success"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-summary text-start border-0 shadow-sm p-3 rounded-4" style="background:#f6efff;">
        <div class="d-flex justify-content-between">
          <div>
            <small>Pending</small>
            <h4 class="fw-bold mt-2"><%= @pending %></h4>
            <small class="text-info">Awaiting results</small>
          </div>
          <i class="fa-solid fa-capsules text-purple"></i>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-summary text-start border-0 shadow-sm p-3 rounded-4" style="background:#fff5eb;">
        <div class="d-flex justify-content-between">
          <div>
            <small>Abnormal</small>
            <h4 class="fw-bold mt-2"><%= @abnormal %></h4>
            <small class="text-warning">Require attention</small>
          </div>
          <i class="fa-solid fa-clock text-warning"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Filters -->
  <%= render 'laboratory_results/search' %>

  <!-- Treatment Cards -->
  <% if @results.present? %>
    <% @results.each do |t| %>
      <div class="card border rounded-3 p-4 mb-2 shadow-none">
        
        <!-- Top -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start gap-2">
          <div>
            <h5 class="fw-bold mb-1">
              <i class="fa-solid fa-vial text-primary me-2"></i>
              <%= t.test_name.humanize %>
            </h5>
            <small class="text-muted">
              <%= t.patient.full_name %> • <%= t.test_type || "NA" %>
            </small>
          </div>

          <div class="d-flex flex-wrap gap-1">
            <% case t.status %>
            <% when "Completed" %>
              <span class="badge bg-success">Completed</span>
            <% when "Pending" %>
              <span class="badge bg-warning text-dark">Pending</span>
            <% when "In Progress" %>
              <span class="badge bg-info text-dark">In Progress</span>
            <% else %>
              <span class="badge bg-secondary"><%= t.status %></span>
            <% end %>

            <!-- Priority -->
            <% case t.priority %>
            <% when "Stat" %>
              <span class="badge bg-danger">Stat</span>
            <% when "Urgent" %>
              <span class="badge bg-warning text-dark">Urgent</span>
            <% else %>
              <span class="badge bg-secondary">Routine</span>
            <% end %>
          </div>
        </div>

        <hr>

        <!-- Middle -->
        <div class="row g-3">
          <div class="col-md-6">
            <h6 class="section-title fw-bold mb-1">Test Information</h6>
            <p class="mb-1"><strong>Ordered:</strong> <%= t.test_date %></p>
            <p class="mb-1"><strong>Sample Date:</strong> <%#= t.test_date %></p>
            <p class="mb-1"><strong>Result Date:</strong> </p>
            <p class="mb-1"><strong>Ordered by:</strong> Dr. <%= t.doctor.full_name %></p>
          </div>

          <div class="col-md-6">
            <h6 class="section-title fw-bold mb-1">Test Results</h6>

            <% if t.results.present? %>

              <% rows = t.results.split("\n") %>

              <% rows.first(3).each do |row| %>
                <% name, value, range = row.split("|") %>

                <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center p-2 mb-2 rounded gap-1"
                     style="background-color: #f8f9fa; font-size: 0.85rem;">

                  <!-- LEFT -->
                  <div class="d-flex align-items-center py-1">
                    <i class="bi bi-check-circle-fill text-success me-2" style="font-size: 0.75rem;"></i>
                    <span><%= name %></span>
                  </div>

                  <!-- RIGHT -->
                  <div class="text-end">
                    <div class="fw-semibold text-success">
                      <%= value %>
                    </div>
                    <%# <small class="text-muted"> %>
                      <%# Ref: <%#= range %>
                    <%# </small> %>
                  </div>

                </div>
              <% end %>

              <% if rows.size > 3 %>
                <small class="text-muted">+ <%= rows.size - 3 %> more</small>
              <% end %>

            <% else %>
              <small class="text-muted">No results</small>
            <% end %>

          </div>

          <div class="mt-2">
            <strong>Clinical Notes:</strong>
            <div class="bg-light p-2 rounded small mb-3">
              <%= t.additional_notes.titleize.presence || "NA" %>
            </div>
          </div>
        </div>

        <hr>

        <!-- Bottom -->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2">
          <div>
            <small class="text-muted me-3">
              <i class="fa-solid fa-user"></i>
              <%= t.patient.id.to_s.rjust(3, "0") || "NA" %>
            </small>
            <small class="text-muted">
              <%# <i class="fa-solid fa-calendar"></i> %>
              <%# Review: <%#= t.next_review_date %>
            </small>
          </div>

          <div>
            <% if current_user.doctor? %>
              <%= link_to edit_laboratory_result_path(t), class: "btn btn-outline-secondary btn-sm" do %>
                <i class="bi bi-pencil"></i>
              <% end %>
            <% end %>

            <%= link_to laboratory_result_path(t), class: "btn btn-primary btn-sm" do %>
              <i class="bi bi-eye"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-info mt-4 text-center">No Treatment detail found.</div>
  <% end %>

  <% if @results %>
    <div class="col-lg-12 mt-3 mb-3">
      <div class="d-flex justify-content-between bg-light rounded align-items-center py-3">
        <div class="page_info ms-3 text-black">
          <%= page_entries_info @results %>
        </div>
        <% if params[:per_page ].present? %>
          <%= will_paginate @results, :params =>  {per_page: @per_page }, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        <% else %>
          <%= will_paginate @results, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>