<div class="container mt-4">
  <h3>Book Appointment</h3>

  <%= form_with(model: @appointment, url: patient_appointments_path) do |f| %>

    <div class="mb-3">
      <%= f.label :doctor_id, "Select Doctor" %>
      <%= f.collection_select :doctor_id, @doctors, :id, :full_name, {}, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :date %>
      <%= f.date_field :date, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :time %>
      <%= f.time_field :time, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :appointment_type %>
      <%= f.text_field :appointment_type, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :reason_for_visit %>
      <%= f.text_area :reason_for_visit, class: "form-control" %>
    </div>

    <%= f.submit "Request Appointment", class: "btn btn-primary" %>
  <% end %>
</div>