<%= form_with model: appointment do |f| %>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :patient_id %>
      <%= f.collection_select :patient_id, @patients, :id, :full_name, { prompt: "Choose a patient" }, class: "form-select #{'is-invalid' if appointment.errors[:patient_id].present?}", placeholder: 'Select Patient' %>

      <% if appointment.errors[:patient_id].present? %>
        <div class="invalid-feedback d-block">
          <%= appointment.errors.full_messages_for(:patient_id).first %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.label :appointment_type %>
      <%= f.select :appointment_type_int,
            Appointment.appointment_type_ints.keys.map { |k| [k.humanize, k] },
            { prompt: "Select Type" }, class: "form-select #{'is-invalid' if appointment.errors[:appointment_type].present?}", placeholder: 'Select Appointment Type' %>

      <% if appointment.errors[:appointment_type].present? %>
        <div class="invalid-feedback d-block">
          <%= appointment.errors.full_messages_for(:appointment_type).first %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :date %>
      <%= f.date_field :date, class: "form-select #{'is-invalid' if appointment.errors[:date].present?}", placeholder: 'Select Date' %>

      <% if appointment.errors[:date].present? %>
        <div class="invalid-feedback d-block">
          <%= appointment.errors.full_messages_for(:date).first %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.label :time %>
      <%= f.time_field :time, class: "form-select #{'is-invalid' if appointment.errors[:time].present?}", placeholder: 'Select Time' %>

      <% if appointment.errors[:time].present? %>
        <div class="invalid-feedback d-block">
          <%= appointment.errors.full_messages_for(:time).first %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :duration %>

      <%= f.select :duration,
          [[15, 15], [30, 30], [45, 45], [60, 60]],
          { prompt: "Select Duration" },
          class: "form-select #{'is-invalid' if appointment.errors[:duration].present?}" %>

      <% if appointment.errors[:duration].present? %>
        <div class="invalid-feedback d-block">
          <%= appointment.errors.full_messages_for(:duration).first %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.label :priority %>

      <%= f.select :priority,
          Appointment.priorities.keys.map { |p| [p.titleize, p] },
          { prompt: "Select Priority" },
          class: "form-select #{'is-invalid' if appointment.errors[:priority].present?}" %>

      <% if appointment.errors[:priority].present? %>
        <div class="invalid-feedback d-block">
          <%= appointment.errors.full_messages_for(:priority).first %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :reason_for_visit %>
    <%= f.text_area :reason_for_visit, class: "form-control #{'is-invalid' if appointment.errors[:reason_for_visit].present?}", placeholder: 'Enter Reason for visit' %>

    <% if appointment.errors[:reason_for_visit].present? %>
      <div class="invalid-feedback d-block">
        <%= appointment.errors.full_messages_for(:reason_for_visit).first %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :additional_notes %>
    <%= f.text_area :additional_notes, class: "form-control #{'is-invalid' if appointment.errors[:additional_notes].present?}", placeholder: 'Any addtional notes or special instructiions' %>

    <% if appointment.errors[:additional_notes].present? %>
      <div class="invalid-feedback d-block">
        <%= appointment.errors.full_messages_for(:additional_notes).first %>
      </div>
    <% end %>
  </div>

  <div class="row g-1 d-flex justify-content-end">
	  <div class="col-12 col-md-3 col-lg-2">
	    <%= link_to "<- Back", appointments_path, class: 'btn btn-outline-secondary mt-1 w-100 w-md-auto' %>
	  </div>

	  <div class="col-12 col-md-3 col-lg-2">
	    <%= f.submit "Schedule", class: "btn btn-primary mt-1 w-100 w-md-auto" %>
	  </div>
  </div>
<% end %>
